@import './animations.css';
@import './variables.css';

* {
  margin: 0;
  box-sizing: border-box;
  font-family: var(--web-font);
}

::-webkit-scrollbar {
  width: 7px;
  background-color: rgb(228, 228, 228);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color-1);
  border-radius: 100px;
}

/* ::-webkit-scrollbar-track {
  background-color: blue;
} */
/*  */
.container {
  background-color: var(--backgruond-color);
  width: 100%;
  height: 100vh;

  /* flex */
  display: flex;
}

.sidebar {
  background-color: var(--whiteColor);

  /* shring and grow */
  flex-basis: 18% !important;
  min-width: 18%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.sidbar-img {
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: 2rem;
  animation: imgAnimation 0.4s 20ms ease;
  outline: 3px solid var(--primary-color-1-variant-2);
}

.sidbar-img img {
  width: 100%;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 100%;
  flex-grow: 1;
  overflow-y: scroll;
  /* animation */
  animation: NavSlidAnimation 0.8s 3ms;
}

.sidebar ul a {
  margin-left: -20px;
  display: block;
  width: 100% !important;
  align-self: stretch;
  text-decoration: none;
  color: var(--blackColor);
  font-weight: var(--navlinks);
}

.sidebar ul a:focus,
.sidbar ul a:active {
  color: var(--primary-color-2);
}
.sidebar ul a:hover {
  color: var(--primary-color-2);
}

.sidebar button {
  padding: 10px 40px;
  margin-bottom: 1rem;
  /* border-radius: 15%; */

  background-color: var(--primary-color-2);
  color: var(--whiteColor);
  cursor: pointer;
  text-transform: capitalize;
  border: none;
  outline: none;
  transition: all 0.4s;

  border-radius: 15px;
  animation: buttonAnimation 0.5s 4ms;
}

.sidebar button:hover {
  background-color: var(--primary-color-2-variant-2);
}
.content {
  flex-grow: 1;
  background-color: var(--backgruond-color);
  padding: 15px;
}

.content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content .content-header h1 {
  font-weight: var(--header);
  cursor: pointer;
  font-size: larger;
}
.content .content-header h1 span {
  font-weight: var(--navlinks);
}

.content-header div button {
  padding: 10px 15px;
  border: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  color: var(--whiteColor);
}

.content-header div button:first-child {
  background-color: var(--primary-color-1);
}

.content-header div button:last-child {
  background-color: var(--primary-color-2);
}

.content-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 15px;
}
.container-box-one {
  background-color: var(--whiteColor);
  padding: 15px;
  border-radius: 7px;
  font-size: small;
  position: relative;
}

.container-box-one::after {
  content: '';
  position: absolute;
  width: 4px;
  height: 0%;
  background-color: var(--primary-color-1);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: all 0.4s;
}

.container-box-one:hover:after {
  height: 100%;
}

.container-box-one > *:not(:last-child) {
  font-weight: var(--navlinks);
  margin-bottom: 1em;
}
.container-box-one span {
  display: flex;
  gap: 1em;
  align-items: center;
}

.container-box-one span h4 {
  font-weight: var(--header);
  font-size: 3em;
}
